<IfModule mod_rewrite.c>
    RewriteEngine On
    
    ## Protect downloads from direct access.
    RewriteCond %{REQUEST_URI} /downloads [NC]
    RewriteRule .* Downloader.php [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .* index.php [L]
</IfModule>

## Prevent file browsing
Options -Indexes